<div class="container-fluid">
    <div class="row">
        <a ui-sref="app.register" style="padding-left:16px;">继续注册</a>
    </div>
    <h1>优币用户协议</h1>

    <h2>一、服务条款</h2>

    <h3>1.1接受条款</h3>

    <ul>
        <li>www.5uwifi.com（下称“优币”或“我们”）所提供的服务包含优币网站体验和使用、优币互联网消息传递服务以及优币提供的与优币网站有关的任何其他特色功能、内容或应用程序（合称“优币服务”）。</li>
        <li>无论用户是以“访客”（表示用户只是浏览优币网站）还是“会员”（表示用户已在优币注册并登录）的身份使用优币服务，均表示该用户同意遵守本使用协议。</li>
        <li>如果用户自愿成为优币会员并与其他会员交流（包括通过优币网站直接联系或通过优币各种服务而连接到的会员），以及使用优币网站及其各种附加服务，请务必认真阅读本协议并在注册过程中表明同意接受本协议。本协议的内容包含优币关于接受优币服务和在优币网站上发布内容的规定、用户使用优币服务所享有的权利、承担的义务和对使用优币服务所受的限制、以及优币的隐私权条款。</li>
        <li>如果用户选择使用某些优币服务，可能会收到要求其下载软件或内容的通知，和/或要求用户同意附加条款和条件的通知。除非用户选择使用的优币服务相关的附加条款和条件另有规定，附加的条款和条件都应被包含于本协议中。</li>
        <li>优币有权随时修改本协议文本中的任何条款。一旦优币对本协议进行修改，优币将会以公告形式发布通知。任何该等修改自发布之日起生效。如果用户在该等修改发布后继续使用优币服务，则表示该用户同意遵守对本协议所作出的该等修改。因此，请用户务必定期查阅本协议，以确保了解所有关于本协议的最新修改。如果用户不同意优币对本协议进行的修改，请用户离开优币网站并立即停止使用优币服务。同时，用户还应当删除个人档案并注销会员资格。</li>
    </ul>

    <h3>1.2遵守法律</h3>

    <ul>
        <li>当使用优币服务时，用户同意遵守中华人民共和国（下称“中国”）的相关法律法规，包括但不限于《中华人民共和国宪法》、《中华人民共和国合同法》、《中华人民共和国电信条例》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《中华人民共和国保守国家秘密法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国著作权法》及其实施条例、《互联网著作权行政保护办法》等。用户只有在同意遵守所有相关法律法规和本协议时，才有权使用优币服务（无论用户是否有意访问或使用此服务）。请用户仔细阅读本协议并将其妥善保存。</li>
    </ul>

    <h3>1.3用户帐号、密码及安全</h3>

    <ul>
        <li>用户应提供及时、详尽、准确的个人资料，并不断及时更新注册时提供的个人资料，保持其详尽、准确。所有用户输入的资料将引用为注册资料。优币不对因用户提交的注册信息不真实或未及时准确变更信息而引起的问题、争议及其后果承担责任。</li>
        <li>用户不应将其帐号、密码转让、出借或告知他人，供他人使用。如用户发现帐号遭他人非法使用，应立即通知优币。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用的，优币不承担任何责任。</li>
    </ul>

    <h3>1.4隐私权政策</h3>

    <ul>
        <li>用户提供的注册信息及优币保留的用户所有资料将受到中国相关法律法规和优币隐私权政策的规范。隐私权政策构成本协议不可分割的一部分。</li>
    </ul>

    <h3>1.5上传内容</h3>

    <ul>
        <li>用户通过任何优币提供的服务上传、张贴、发送（通过电子邮件或任何其它方式传送）的文本、文件、图像、照片、视频、声音、音乐、其他创作作品或任何其他材料（以下简称“内容”，包括用户个人的或个人创作的照片、声音、视频等），无论是公开还是私下传播，均由用户和内容提供者承担责任，优币不对该等内容的正确性、完整性或品质作出任何保证。用户在使用优币服务时，可能会接触到令人不快、不适当或令人厌恶之内容，用户需在接受服务前自行做出判断。在任何情况下，优币均不为任何内容负责（包括但不限于任何内容的错误、遗漏、不准确或不真实），亦不对通过优币服务上传、张贴、发送（通过电子邮件或任何其它方式传送）的内容衍生的任何损失或损害负责。优币在管理过程中发现或接到举报并进行初步调查后，有权依法停止任何前述内容的传播并采取进一步行动，包括但不限于暂停某些用户使用优币的全部或部分服务，保存有关记录，并向有关机关报告。</li>
    </ul>

    <h3>1.6用户行为</h3>

    <ul>
        <li>用户在使用优币服务时，必须遵守中华人民共和国相关法律法规的规定，用户保证不会利用优币服务进行任何违法或不正当的活动，包括但不限于下列行为∶</li>
    </ul>

    <h4>1.6.1上传、展示、张贴或以其它方式传播含有下列内容之一的信息：</h4>

    <ul>
        <li>反对宪法及其他法律的基本原则的；</li>
        <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
        <li>损害国家荣誉和利益的；</li>
        <li>煽动民族仇恨、民族歧视、破坏民族团结的；</li>
        <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
        <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
        <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
        <li>侮辱或者诽谤他人，侵害他人合法权利的；</li>
        <li>含有虚假、有害、胁迫、侵害他人隐私、骚扰、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</li>
        <li>含有中国法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的；</li>
        <li>不得为任何非法目的而使用网络服务系统。</li>
    </ul>

    <h4>1.6.2用户同时保证不会利用优币服务从事以下活动：</h4>

    <ul>
        <li>未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</li>
        <li>未经允许，对计算机信息网络功能进行删除、修改或者增加的；</li>
        <li>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；故意制作、传播计算机病毒等破坏性程序的。</li>
    </ul>

    <h4>1.6.3其他危害计算机信息网络安全的行为：</h4>

    <ul>
        <li>如用户在使用网络服务时违反任何上述规定，优币或经其授权者有权要求该用户改正或直接采取一切必要措施（包括但不限于更改、删除相关内容、暂停或终止相关用户使用优币服务）以减轻和消除该用户不当行为造成的影响。</li>
        <li>用户不得对优币服务的任何部分或全部以及通过优币取得的任何形式的信息，进行复制、拷贝、出售、转售或用于任何其它商业目的。</li>
        <li>用户须对自己在使用优币服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：停止侵害行为，向受到侵害者公开赔礼道歉，恢复受到侵害者的名誉，对受到侵害者进行赔偿。如果优币网站因某用户的非法或不当行为受到行政处罚或承担了任何形式的侵权损害赔偿责任，该用户应向优币进行赔偿（不低于优币向第三方赔偿的金额）并通过全国性的媒体向优币公开赔礼道歉。</li>
    </ul>

    <h3>1.7知识产权和其他合法权益（包括但不限于名誉权、商誉等）</h3>

    <ul>
        <li>优币并不对用户发布到优币服务中的文本、文件、图像、照片、视频、声音、音乐、其他创作作品或任何其他材料（前文称为“内容”）拥有任何所有权。在用户将内容发布到优币服务中后，用户将继续对内容享有权利，并且有权选择恰当的方式使用该等内容。如果用户在优币服务中或通过优币服务展示或发表任何内容，即表明该用户就此授予优币一个有限的许可以使优币能够合法使用、修改、复制、传播和出版此类内容。</li>
        <li>用户同意其已就在优币服务所发布的内容，授予优币可以免费的、永久有效的、不可撤销的、非独家的、可转授权的、在全球范围内对所发布内容进行使用、复制、修改、改写、改编、发行、翻译、创造衍生性著作的权利，及/或可以将前述部分或全部内容加以传播、表演、展示，及/或可以将前述部分或全部内容放入任何现在已知和未来开发出的以任何形式、媒体或科技承载的著作当中。</li>
        <li>用户声明并保证：用户对其在优币服务中或通过优币服务发布的内容拥有合法权利；用户在优币服务中或通过优币服务发布的内容不侵犯任何人的肖像权、隐私权、著作权、商标权、专利权、及其它合同权利。如因用户在优币服务中或通过优币服务发布的内容而需向其他任何人支付许可费或其它费用，全部由该用户承担。</li>
        <li>优币服务中包含优币提供的内容，包含用户和其他优币许可方的内容（下称“优币的内容”）。优币的内容受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》、《中华人民共和国反不正当竞争法》和其他相关法律法规的保护，优币拥有并保持对优币的内容和优币服务的所有权利。</li>
    </ul>

    <h3>1.8国际使用之特别警告</h3>

    <ul>
        <li>用户已了解国际互联网的无国界性，同意遵守所有关于网上行为、内容的法律法规。用户特别同意遵守有关从中国或用户所在国家或地区输出信息所可能涉及、适用的全部法律法规。</li>
    </ul>

    <h3>1.9费用和付款</h3>

    <ul>
        <li>加入优币免费，但是我们对于某些服务是收取费用的。当您使用某项服务时，您将有机会看到您需要支付费用的项目，费用的变化在我们在网站上为您公开后生效。您负责支付使用该服务产生的所有费用和税款。</li>
        <li>从参与者处获得的资金通过第三方支付平台支付，优币对第三方支付平台的支付性能不承担责任。</li>
    </ul>

    <h3>1.10赔偿</h3>

    <ul>
        <li>由于用户通过优币服务上传、张贴、发送或传播的内容，或因用户与本服务连线，或因用户违反本使用协议，或因用户侵害他人任何权利而导致任何第三人向优币提出赔偿请求，该用户同意赔偿优币及其股东、子公司、关联企业、代理人、品牌共有人或其它合作伙伴相应的赔偿金额（包括优币支付的律师费等），以使优币的利益免受损害。</li>
    </ul>

    <h3>1.11关于使用及储存的一般措施</h3>

    <ul>
        <li>用户承认优币有权制定关于服务使用的一般措施及限制，包括但不限于优币服务将保留用户的电子邮件信息、用户所张贴内容或其它上载内容的最长保留期间、用户一个帐号可收发信息的最大数量、用户帐号当中可收发的单个信息的大小、优币服务器为用户分配的最大磁盘空间，以及一定期间内用户使用优币服务的次数上限（及每次使用时间之上限）。通过优币服务存储或传送的任何信息、通讯资料和其它任何内容，如被删除或未予储存，用户同意优币毋须承担任何责任。用户亦同意，超过一年未使用的帐号，优币有权关闭。优币有权依其自行判断和决定，随时变更相关一般措施及限制。</li>
    </ul>

    <h3>1.12服务的修改</h3>

    <ul>
        <li>用户了解并同意，无论通知与否，优币有权于任何时间暂时或永久修改或终止部分或全部优币服务，对此，优币对用户和任何第三人均无需承担任何责任。用户同意，所有上传、张贴、发送到优币的内容，优币均无保存义务，用户应自行备份。优币不对任何内容丢失以及用户因此而遭受的相关损失承担责任。</li>
    </ul>

    <h3>1.13终止服务</h3>

    <ul>
        <li>用户同意优币可单方面判断并决定，如果用户违反本使用协议或用户长时间未能使用其帐号，优币可以终止该用户的密码、帐号或某些服务的使用，并可将该用户在优币服务中留存的任何内容加以移除或删除。优币亦可基于自身考虑，在通知或未通知之情形下，随时对该用户终止部分或全部服务。用户了解并同意依本使用协议，无需进行事先通知，优币可在发现任何不适宜内容时，立即关闭或删除该用户的帐号及其帐号中所有相关信息及文件，并暂时或永久禁止该用户继续使用前述文件或帐号。</li>
    </ul>

    <h3>1.14与广告商进行的交易</h3>

    <ul>
        <li>用户通过优币服务与广告商进行任何形式的通讯或商业往来，或参与促销活动（包括相关商品或服务的付款及交付），以及达成的其它任何条款、条件、保证或声明，完全是用户与广告商之间的行为。除有关法律法规明文规定要求优币承担责任外，用户因前述任何交易、沟通等而遭受的任何性质的损失或损害，优币均不予负责。</li>
    </ul>

    <h3>1.15链接</h3>

    <ul>
        <li>用户了解并同意，对于优币服务或第三人提供的其它网站或资源的链接是否可以利用，优币不予负责；存在或源于此类网站或资源的任何内容、广告、项目或其它资料，优币亦不保证或负责。因使用或信赖任何此类网站或资源发布的或经由此类网站或资源获得的任何商品、服务、信息，如对用户造成任何损害，优币不负任何直接或间接责任。</li>
    </ul>

    <h3>1.16禁止商业行为</h3>

    <ul>
        <li>用户同意不对优币服务的任何部分或全部以及用户通过优币的服务取得的任何物品、服务、信息等，进行复制、拷贝、出售、转售或用于任何其它商业目的。</li>
    </ul>

    <h3>1.17优币的专属权利</h3>

    <ul>
        <li>用户了解并同意，优币服务及其所使用的相关软件(以下简称"服务软件")含有受到相关知识产权及其它法律保护的专有保密资料。用户同时了解并同意，经由优币服务或广告商向用户呈现的赞助广告或信息所包含之内容，亦可能受到著作权、商标、专利等相关法律的保护。未经优币或广告商书面授权，用户不得修改、出售、传播部分或全部服务内容或软件，或加以制作衍生服务或软件。优币仅授予用户个人非专属的使用权，用户不得(也不得允许任何第三人)复制、修改、创作衍生著作，或通过进行还原工程、反向组译及其它方式破译原代码。用户也不得以转让、许可、设定任何担保或其它方式移转服务和软件的任何权利。用户同意只能通过由优币所提供的界面而非任何其它方式使用优币服务。</li>
    </ul>

    <h3>1.18担保与保证</h3>

    <ul>
        <li>优币使用协议的任何规定均不会免除因优币造成用户人身伤害或因故意造成用户财产损失而应承担的任何责任。</li>
        <li>用户使用优币服务的风险由用户个人承担。优币对服务不提供任何明示或默示的担保或保证，包括但不限于商业适售性、特定目的的适用性及未侵害他人权利等的担保或保证。</li>
    </ul>

    <h3>1.19优币亦不保证以下事项：</h3>

    <ul>
        <li>服务将符合用户的要求；</li>
        <li>服务将不受干扰、及时提供、安全可靠或不会出错；</li>
        <li>使用服务取得的结果正确可靠；</li>
        <li>用户经由优币服务购买或取得的任何项目、服务、资讯或其它信息将符合用户的期望，且软件中任何错误都将得到更正；</li>
        <li>用户应自行决定使用优币服务下载或取得任何资料且自负风险，因任何资料的下载而导致的用户电脑系统损坏或数据流失等后果，由用户自行承担；</li>
        <li>用户经由优币服务获知的任何建议或信息(无论书面或口头形式)，除非使用协议有明确规定，将不构成优币对用户的任何保证。</li>
    </ul>

    <h3>1.20责任限制</h3>

    <ul>
        <li>在任何情况下，优币及其股东、创建人、高级职员、董事、代理人、关联公司、母公司、子公司和雇员均不以任何明示或默示的方式对您使用优币服务而产生的任何形式的直接或间接损失承担法律责任，包括但不限于资金损失、利润损失、营业中断损失等，并且优币方不保证网站内容的真实性、充分性、及时性、可靠性、 完整性和有效性，并且免除任何由此引起的法律责任。</li>
        <li>优币不能保证也没有义务保证第三方网站上的信息的真实性和有效性。您应按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由您自行判断并承担风险，而与优币无关。</li>
        <li>因为优币或者涉及的第三方网站的设备、系统存在缺陷、黑客攻击、网络故障、电力中断、计算机病毒或其他不可抗力因素造成的损失，优币均不负责赔偿，您的补救措施只能是与优币协商终止本协议并停止使用优币。但是，中国现行法律、法规另有规定的除外。</li>
        <li>您承诺合法使用优币提供的服务及网站内容。您不得利用本服务从事侵害他人合法权益之行为，不得在优币从事任何可能违反中国的法律、法规、规章和政府规范性文件的行为或者任何未经授权的行为，如擅自进入优币的未公开的系统、不正当的使用账号密码和网站的任何内容等。</li>
        <li>您不得使用优币提供的服务或其他电子邮件转发服务发出垃圾邮件或其他可能违反本协议的内容。</li>
        <li>优币没有义务监测网站内容，但是您确认并同意优币有权不时地根据法律、法规、政府要求透露、修改或者删除必要的信息，以便更好地运营优币并保护自身及优币的其他合法用户。</li>
        <li>优币中全部内容的版权均属于优币所有，该等内容包括但不限于文本、数据、文章、设计、源代码、软件、图片、照片及其他全部信息（以下称“网站内容”）。网站内容受中华人民共和国著作权法及各国际版权公约的保护。未经优币事先书面同意，您承诺不以任何方式、不以任何形式复制、模仿、传播、出版、公布、展示网站内容，包括但不限于电子的、机械的、复印的、录音录像的方式和形式等。您承认网站内容是属于优币的财产。未经优币书面同意，您亦不得将优币包含的资料等任何内容镜像到任何其他网站或者服务器。任何未经授权对网站内容的使用均属于违法行为，优币将追究您的法律责任。</li>
        <li>由于您违反本协议或任何法律、法规或侵害第三方的权利，而引起第三方对优币提出的任何形式的索赔、要求、诉讼，优币有权向您追偿相关损失，包括但不限于优币的法律费用、名誉损失、及向第三方支付的补偿金等。</li>
    </ul>

    <h3>1.21一般性条款</h3>

    <ul>
        <li>本使用协议构成用户与优币之间的正式协议，并用于规范用户的使用行为。在用户使用优币服务、使用第三方提供的内容或软件时，在遵守本协议的基础上，亦应遵守与该等服务、内容、软件有关附加条款及条件。</li>
        <li>本使用协以及用户与优币之间的关系，均受到中华人民共和国法律管辖。</li>
        <li>用户与优币就服务本身、本使用协议或其它有关事项发生的争议，应通过友好协商解决。协商不成的，应向相关机构提起诉讼。</li>
        <li>优币未行使或执行本使用协议设定、赋予的任何权利，不构成对该等权利的放弃。</li>
        <li>本使用协议中的任何条款因与中华人民共和国法律相抵触而无效，并不影响其它条款的效力。</li>
        <li>本使用协议的标题仅供方便阅读而设，如与协议内容存在矛盾，以协议内容为准。</li>
    </ul>

    <h3>1.22举报</h3>

    <ul>
        <li>如用户发现任何违反本服务条款的事情，请及时通知优币。</li>
    </ul>

    <h2>二、隐私权政策</h2>

    <h3>2.1隐私权政策适用范围</h3>

    <p>包括优币如何收集、处理、保护：</p>

    <ul>
        <li>用户在登录本网站和服务器时留下的个人身份信息；</li>
        <li>用户通过本网站和服务器与其他用户或非用户之间传送的各种资讯；</li>
        <li>优币与商业伙伴共享的其他用户或非用户的各种信息。</li>
    </ul>

    <h3>2.2信息收集、使用和认证</h3>

    <h4>2.2.1您提供的信息</h4>

    <ul>
        <li>在您登记注册优币帐户，或使用该帐户，或参加其他优币及与之相关需要注册的服务或推广活动时，我们会要求您提供个人信息(包括但不限于您的手机号码、电子邮件地址、帐户密码以及昵称等)。这些信息会以加密方式保存在安全的服务器上。我们会将从您的帐户下采集的个人信息与其他从优币服务中或从第三方获得的信息和资讯进行整合，以便向您提供更好的用户体验和改善我们的服务质量。在某些服务中，我们会给予提示，由您亲自决定是否参与上述信息的整合。</li>
    </ul>

    <h4>2.2.2身份认证</h4>

    <ul>
        <li>您同意优币可以自行或通过合作的第三方机构对您提交或优币搜集的用户信息（包括但不限于您的个人身份证信息等）进行核实，并对获得的核实结果根据本协议及有关文件进行查看、使用和留存等操作。</li>
    </ul>

    <h4>2.2.3日志信息</h4>

    <ul>
        <li>当您使用优币的服务时，我们的主机会自动记录您的浏览器在访问网站时所发送的信息。主机日志信息包括但不限于您的网路请求、IP地址、浏览器类型、浏览器使用的语言、请求的日期和时间，以及一个或多个可以对您的浏览器进行辨识的cookie。</li>
    </ul>

    <h4>2.2.4用户交流</h4>

    <ul>
        <li>当您与优币通过电子邮件或其他方式进行交流时，我们可能会记录这些交流内容用以处理您的问题以及改善我们的服务。</li>
        <li>优币仅对本隐私权政策和/或具体服务的隐私声明中允许的目的而对用户的个人信息进行处理。除上述已列明部分外，这些目的还包括：向用户提供项目或服务，包括列明定制的内容和广告；审计、调研和分析，以维持、保护和改善优币的服务；确保网站的技术运作；开发新服务；以及其他优币运营所需要的目的。</li>
    </ul>

    <h3>2.3信息公开与共享</h3>

    <p>优币不会将您的个人信息故意透露、出租或出售给任何第三方。但以下情况除外：</p>

    <ul>
        <li>用户本人同意与第三方共享信息；</li>
        <li>只有透露用户的个人信息，才能提供用户所要求的某种项目和服务；</li>
        <li>应代表优币提供项目或服务的主体的要求提供（除非我们另行通知，否则该等主体无权将相关用户个人信息用于提供项目和服务之外的其他用途）：根据法律法规或行政命令的要求提供；因外部审计需要而提供；用户违反了优币服务条款或任何其他项目及服务的使用规定；经优币评估，用户的帐户存在风险，需要加以保护。</li>
    </ul>

    <h3>2.4编辑和删除个人帐户资料的权限</h3>

    <ul>
        <li>您有权在任何时候编辑您在优币的帐户信息，您也可以填写相关申请表格，要求删除个人帐户，但是您无条件同意在您的帐户删除后，该帐户内及与该帐户相关的信息仍然保留在优币档案记录中，除上述第三条规定的情况外，我们将为您保密。</li>
    </ul>

    <h3>2.5安全保障</h3>

    <ul>
        <li>您的优币帐户具有密码保护功能，以确保您的隐私及信息安全。</li>
    </ul>

    <h3>2.6隐私权政策的修订</h3>

    <ul>
        <li>优币会不时对隐私权政策进行修改。如有修改，我们会在修改后及时公告相关修改内容及新规定，以便您知悉和使用。</li>
    </ul>

    <h3>2.7问题与建议</h3>

    <ul>
        <li>如果您有任何问题和建议，请随时通知我们。</li>
    </ul>

    <h2>三、身份认证协议</h2>

    <ul>
        <li>您确认，在开始“身份认证”（以下简称“认证”）前，您已详细阅读了本协议所有内容，一旦您开始认证流程，即表示您充分理解并同意接受本协议的全部内容。</li>
        <li>为了提高融资投资过程中的安全性和会员身份的可信度，优币向您提供认证服务。在您申请认证前，您必须先注册成为优币用户。优币有权采取各种其认为必要手段对用户的身份进行识别。但是，作为普通的网络服务提供商，优币所能采取的方法有限，而且在网络上进行用户身份识别也存在一定的困难，因此，优币对完成认证的用户身份的准确性和绝对真实性不做任何保证。</li>
        <li>优币有权记录并保存您完成以上程序提供给优币的信息和优币获取的结果信息，亦有权根据本协议的约定向您或第三方提供您是否通过认证的结论以及您的身份信息。</li>
    </ul>

    <h3>3.1关于认证服务的理解与认同</h3>

    <ul>
        <li>认证服务是由优币提供的一项身份识别服务。除非本协议另有约定，一旦您的优币账户完成了认证，相应的身份信息和认证结果将不因任何原因被修改或取消；如果您的身份信息在完成认证后发生了变更，您应向优币提供相应有权部门出具的凭证，由优币协助您变更您优币账户的对应认证信息。</li>
        <li>优币有权单方随时修改或变更本协议内容，并通过优币网站公告变更后的协议文本，无需单独通知您。本协议进行任何修改或变更后，您还继续使用优币服务和/或认证服务的，即代表您已阅读、了解并同意接受变更后的协议内容；您如果不同意变更后的协议内容，应立即停用优币服务和认证服务。</li>
    </ul>

    <h3>3.2身份信息识别</h3>

    <ul>
        <li>中华人民共和国（以下简称“中国”）个人优币用户提供以下证件用于认证：认证当时处在有效期内的身份证（需要在线上传证件时，必须是彩色原件扫描件，或者彩色数码拍摄件，第二代身份证需要同时提交正反两面)</li>
        <li>法律规定不具有完全民事行为能力的自然人，优币不向其提供认证服务。</li>
        <li>通过身份信息识别的优币用户不能自行修改已经认证的信息，包括但不限于姓名以及身份证件号码等。大陆个人优币用户认证的有效期与其提供的身份证件有效期一致，但最长自认证完成日起不超过20年。有效期满后，相应的优币账户只能使用原先认证的身份信息或经合法变更后的身份信息进行再次认证。</li>
        <li>在优币用户对其优币账户进行取回密码等操作时，需要按照本公司的提示出示可确认其持有该账户的个人身份证件，相关证件的要求依照本条前5项约定。</li>
    </ul>

    <h3>3.3认证资料的管理</h3>

    <p>您在认证时提交给优币的认证资料，即不可撤销的授权由优币保留。优币承诺除法定或约定的事由外，不公开或编辑或透露您的认证资料及保存在优币的非公开内容用于商业目的，但本条第1项规定以及以下情形除外：</p>

    <ul>
        <li>您授权优币透露的相关信息；</li>
        <li>优币向国家司法及行政机关提供；</li>
        <li>优币向平台关联企业提供；</li>
        <li>第三方和优币一起为用户提供服务时，该第三方向您提供服务所需的相关信息；</li>
        <li>基于解决您与第三方民事纠纷的需要，优币有权向该第三方提供您的身份信息。</li>
    </ul>

    <h3>3.4特别声明</h3>

    <ul>
        <li>优币用户在会员身份认证前，应当仔细阅读本协议。优币用户在会员身份认证后，表示已经认真阅读本协议，并同意接受本协议条款。</li>
        <li>对于拒绝同意本协议的用户，优币平台有权拒绝为其提供需会员身份认证后的服务。</li>
        <li>优币会员应当遵守国家有关法律法规。</li>
        <li>优币会员身份认证应当提供真实、准确、完整的有效身份证明文件等身份认证资料，并对身份认证资料的真实性、准确性与完整性负全部责任。</li>
        <li>优币会员应当对优币平台录入的身份认证资料予以确认并对确认结果负责。</li>
        <li>优币认证有效身份证明文件有重大变化时，应当及时向优币平台申请变更。否则，因此导致的经济损失和法律责任由认证会员承担。</li>
        <li>优币认证会员保证认证成功后账户的合法合规使用，并对该账户下的一切活动（包括但不限于投资承诺等）承担法律责任。优币认证会员账户不得转借第三人，对因违规使用或将认证账户转借他人导致的经济损失和法律责任由认证会员承担。</li>
        <li>优币平台应当对认证会员注册的开户资料保密，但法律法规规定必须公开的除外。</li>
        <li>优币平台仅对会员所提供的身份认证资料的完整性进行审核，核查会员身份证明文件是否有效、注册申请表所填写内容与身份证明文件相关内容是否一致。但是，这并不表明对用户所提供的开户资料做出真实性判断或者保证。对下列情况之一所引起的法律纠纷，优币平台不承担责任：
            1 使用虚假资料进行身份认证；
            2 违规使用他人合法证件进行身份认证；
            3 法律法规规定不能买卖股权的自然人会员和法人进行身份认证；
            4 其他违规进行身份认证的情况。</li>
        <li>优币平台修订业务规则及本协议时，应当在网站公告，新规则自公告之日起生效。不需知会每个认证会员。认证会员应当按照修订后的业务规则执行。</li>
    </ul>

    <h2>四、支持者风险协议</h2>

    <p>尊敬的支持者： </p>

    <ul>
        <li>在您注册成为优币的支持者会员，请仔细阅读本协议。</li>
        <li><p>优币将区块链项目投资中存在的风险，请认真阅读如下风险：</p>

            <ul>
                <li><p>投资损失风险 区块链投资项目存在较大的风险，投资存在部分亏损，甚至全部亏损的可能，作为投资人的您应量力而行，选择自愿承当亏损的金额进行投资。</p></li>
                <li><p>流动性风险 大部分区块链项目处于种子期或初创期，规模较小，其股权或其他性质权益，没有成熟、高效的流转市场。作为支持者的您投资后，其权益转让存在找不到买家的可能。</p></li>
                <li><p>投资过程中无回报的风险 区块链投资多投资于区块链初创型企业。区块链初创型企业极有可能付不出回报，即使有盈利往往也被用于再生产。因此，在支持者投资退出前的整个投资过程中，存在没有任何回报的可能。</p></li>
                <li><p>宏观经济风险 由于我国及周边国家、地区宏观经济环境和周边市场的变化，使区块链项目公司的经营处于剧烈波动中，从而导致区块链项目的价值不同程度的贬损，使您存在亏损的可能，您将不得不承担由此造成的损失。</p></li>
                <li><p>政策风险 区块链项目所处行业的法律、法规及相关政策发生变化，或者优币平台的投资规则发生变化，都可能引起区块链项目经营和披露信息的波动，使您存在亏损的可能，您将不得不承担由此造成的损失。</p></li>
                <li><p>技术风险 由于优币的业务是通过网络技术来实现的，这些技术存在着被网络黑客和计算机病毒攻击的可能，优币会尽力保障网站正常运行，但您将不得不承担由您的个人电脑终端故障或其他优币以外因素导致系统故障而造成的损失。</p></li>
                <li><p>不可抗力因素导致的风险 诸如地震、火灾、水灾、战争等不可抗力因素可能导致投资系统的瘫痪，您将不得不承担由此导致的损失。除上述投资风险外，区块链项目投资在款项管理、运用过程中，仍然存在市场风险、信用风险、管理风险、政策风险等其他不可预测的风险。请您仔细阅读本支持者风险协议及相关投资文件，谨慎作出是否签署投资文件的决定。如您签署了本协议，则优币将视为您已认真阅读并理解优币的在线融资服务模式，并愿意依法承担相应的投资风险。</p></li>
        </ul></li>
        <li><p>本协议自优币公布之日起对所有区块链支持者有效。</p></li>
        <li>支持者确认：本人已仔细阅读本协议，优币已向本人说明了区块链项目投资的风险，投资本项目是经过本人独立判断之后所作出的符合本人真实意愿的决定，本人愿意承担投资风险。</li>
    </ul>

</div>
