<!-- ******FOOTER****** -->
<footer class="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
			<div class="footer-col col-md-3 col-sm-4 about">
				<div class="footer-col-inner">
					<h3>关于我们</h3>
					<ul>
						<li><a href="about.html"><i class="fa fa-caret-right"></i>关于我们</a></li>
						<li><a href="contact.html"><i class="fa fa-caret-right"></i>联系我们</a></li>
						<li><a href="privacy.html"><i class="fa fa-caret-right"></i>隐私政策</a></li>
						<li><a href="terms-and-conditions.html"><i class="fa fa-caret-right"></i>条款声明</a></li>
					</ul>
				</div><!--//footer-col-inner-->
			</div><!--//foooter-col-->
			<div class="footer-col col-md-6 col-sm-8 newsletter">
				<div class="footer-col-inner">
					<h3>订阅邮件</h3>
					<p>订阅后，我们可以将每周的时间通讯发送到您的电子邮箱中。</p>
					<form class="subscribe-form">
						<div class="form-group">
							<input type="email" class="form-control" placeholder="请输入您的电子邮件地址" />
						</div>
						<input class="btn btn-theme btn-subscribe" type="submit" value="订阅">
					</form>

				</div><!--//footer-col-inner-->
			</div><!--//foooter-col-->
			<div class="footer-col col-md-3 col-sm-12 contact">
				<div class="footer-col-inner">
					<h3>联系我们</h3>
					<div class="row">
						<p class="adr clearfix col-md-12 col-sm-4">
							<i class="fa fa-map-marker pull-left"></i>
							<span class="adr-group pull-left">
								<span class="street-address">常林西大街</span><br>
								<span class="region">临沂市临沭县</span><br>
								<span class="postal-code">邮编：276700</span><br>
								<span class="country-name">中国</span>
							</span>
						</p>
						<p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>95598</p>
						<p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">enquires@website.com</a></p>
					</div>
				</div><!--//footer-col-inner-->
			</div><!--//foooter-col-->
			</div>
		</div>
	</div><!--//footer-content-->
	<div class="bottom-bar">
		<div class="container">
			<div class="row">
				<small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2014 中国国家电网</small>
			</div><!--//row-->
		</div><!--//container-->
	</div><!--//bottom-bar-->
</footer><!--//footer-->
