
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="dropdown" style="display:flex;align-items:flex-end; flex-direction:column; width:100%;margin-top:5px;">
            <button type="button" role="button" data-toggle="dropdown" style="padding:8px;"> 我的认购 <span class="caret"></span></button>
            <ul class="dropdown-menu" style="left:auto">
                <li><a href="#">登录</a></li>
                <li><a href="#">注销</a></li>
                <li><a href="#">认购记录</a></li>
                <li><a ui-sref="app.subscribe">认购</a></li>
            </ul>
        </div>
    </div>
</nav>
