
<nav class="navbar navbar-default">
    
  <div class="container-fluid">
  </div><!-- /.container-fluid -->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->

        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!-- <li><a ui-sref="app.showpdf({pdfname:'uwifi_whitepaper'})" type="application/pdf" style="padding-right:8px;color:blue; font-size:18px;">优WiFi白皮书</a></li>
                <li><a ui-sref="app.showpdf({pdfname:'subscribe_notice_detail'})" type="application/pdf" style="padding-right:8px;color:blue; font-size:18px;">优币认购细则</a></li>
-->
                <li><a href="/wifidocs/web/viewer.html?file=%2Fwifidocs%2Fuwifi_whitepaper.pdf" target="blank" type="application/pdf" style="padding-right:8px;color:blue; font-size:18px;">优WiFi白皮书</a></li>
                <!-- <li><a href="/wifidocs/web/viewer.html?file=%2Fwifidocs%2Fsubscribe_notice_detail.pdf" target="blank" type="application/pdf" style="padding-right:8px;color:blue; font-size:18px;">优币认购细则</a></li>-->
                <li><a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" style="font-size:18px;color:blue;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">认购登记<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-if="icoEnv.couldLogin"><a ui-sref="app.login">登录</a></li>
                        <li ng-if="icoEnv.couldLogout"><a ng-click="logout()">注销</a></li>
                        <li ng-if="icoEnv.couldList"><a ui-sref="app.subscribelist">登记记录</a></li>
                        <li ng-if="icoEnv.couldSubscribe"><a ui-sref="app.subscribe">认购登记</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
