<div class="container-fluid">
    <div class="list-group">
        <li class="list-group-item-heading">文档资料</li>
        <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="fitem in publicityModel.files">
                <!-- <h3>{{fitem.name}}</h3> -->
                <a href="/wifidocs/web/viewer.html?file=%2Fwifidocs%2F{{fitem.file}}" target="_blank"><h3>{{fitem.name}}</h3></a>
            </div>
        </div>
    </div>
    <div class="list-group">
        <li class="list-group-item-heading">图片资料：北京见面会</li>
        <div class="row">
            <div class="col-xs-6 col-md-3" ng-repeat="fitem in publicityModel.peking">
                <div class="thumbnail" >
                    <img ng-src="/wifipublicity/peking/images/thumbnail/{{fitem.file}}" alt="{{fitem.desc}}">
                    <div class="caption text-center">
                        <h3>{{fitem.name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <li class="list-group-item-heading">直播视频：北京见面会</li>
        <li class="list-group-item" ng-repeat="fitem in publicityModel.pekingLiveShow">
            <a href="{{fitem.file}}" target="_blank"><h4 class="list-group-item-heading">{{fitem.name}}</h4></a>
        </li>
    </div>
    <div class="list-group">
        <li class="list-group-item-heading">
            <img ng-src="assets/images/qq518310506.jpg" class="image-thumbnail center-block"/>
        </li>
    </div>
</div>
