<div class="container-fluid">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-repeat="citem in publicityModel.carousel" ng-class="$index==0 && isInit ? 'active':'' "></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="citem in publicityModel.carousel" ng-class="$index==0 && isInit ? 'active':'' ">
                <img ng-src="/wifipublicity/{{publicityModel.domain}}/images/{{citem}}" alt="..." style="margin-left:auto;margin-right:auto;max-height:80vh;" >
                <div class="carousel-caption">
                    <h3>北京见面会</h3>
                    <p>各界精英</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" role="button" data-target="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" role="button" data-target="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="jumbotron">
        <p> <img src="assets/images/qq518310506.jpg" class="img-responsive center-block" style="width:100% \9;">
        </p>
    </div>
</div>
