<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>手机号</td>
                        <td>短信用途</td>
                        <td>短信内容</td>
                        <td>状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width:10%"><input type="text" ng-model="smsModel.test.account" /></td>
                        <td style="width:15%"><input type="text" ng-model="smsModel.test.usages" /></td>
                        <td style="width:40%"><textarea  type="text" ng-model="smsModel.test.message" /></td>
                        <td style="width:25%">
                            <button class=".ico-btn btn-default btn-outline " type="button" ng-click="sendSMS(smsModel.test)">发送短信</button>
                        </td>
                    </tr>
                    <tr ng-repeat="smsItem in smsModel.data">
                        <td style="width:10%">{{smsItem.account}}</td>
                        <td style="width:15%">{{smsItem.usages}}</td>
                        <td style="width:40%">{{smsItem.message}}</td>
                        <td style="width:25%">{{smsItem.status}}
                            <button class=".ico-btn btn-default btn-outline " type="button" ng-if="smsItem.status=='prepared'" ng-click="sendSMS(smsItem)">发送短信</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
