<div class="container">
    <div class="progress" ng-show="subscribedModel.display.loading">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" ng-class="subscribedModel.display.loading ? 'active' : ''">
            <span class="sr-only">45% Complete</span>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">用户认购登记记录</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>货币种类</td>
                        <td>数量</td>
                        <td>付币地址</td>
                        <td>GMT时间</td>
                        <!-- <td>认购状态</td> -->
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subscribedItem in subscribedModel.subscribedItemList | orderBy:'updated_at':true" >
                    <td>{{subscribedItem.bankType }} </td>
                    <td>{{subscribedItem.subscribeAmount }} </td>
                    <td>{{subscribedItem.bankAccount }} </td>
                    <td>{{subscribedItem.updated_at | date:'yyyy-MM-dd HH:mm:ss sss' }} </td>
                    <!-- <td>{{subscribedItem.status || 'waiting' }} </td> -->
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer" ng-if="subscribedModel.display.showPagination">
            <ul class="pager">
                <li class="previous"><a ng-if="subscribedModel.display.showStart" ng-click="subscribedModel.action.pageSubscribeItemList(false)">上一页</a></li>
                <li class="next"><a ng-if="subscribedModel.display.hasMore" ng-click="subscribedModel.action.pageSubscribeItemList(true)">下一页</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">用户认购核对结果</div>
        <div class="panel-body" ng-if="!(subscribedModel.checked && subscribedModel.checked.length > 0) ">无法自动核对，请联系管理员qq：3091346340</div>
        <div class="panel-body" ng-if="subscribedModel.checked && subscribedModel.checked.length> 0 ">
            <table class="table table-borderd">
                <tr>
                    <td>币种</td>
                    <td>地址</td>
                    <td>数量</td>
                </tr>
                <tr ng-repeat="checkItem in subscribedModel.checked">
                    <td>{{checkItem.bankType}}</td>
                    <td>{{checkItem.confirmedAddress || checkItem.bankAccount}}</td>
                    <td>{{checkItem.confirmedAmount || checkItem.amountIn}}</td>
                </tr>
                <tr>
                    <td colspan="1">UBC数量</td>
                    <td colspan="2">{{subscribedModel.ubc.amount || 0 }}</td>
                </tr>
                <tr>
                    <td colspan="3">如果对核对结果存有疑问，请联系管理员qq：3091346340</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default" ng-if="subscribedModel.ubc.loaded && ( subscribedModel.ubc.amount > 0 || subscribedModel.ubc.address) ">
        <div class="panel-heading">用户收币地址登记</div>
        <div class="alert alert-warning" role="alert">请填写收币地址（A、B只能二选一）：
            <li>A、直接填写imtoken个人收币地址（注：对imtoken钱包操作非常熟练，确保不会因误操作丢失代币的）；</li>
            <li>B、交易平台个人地址（优WiFi会直接将代币打入您在交易平台的个人地址）。</li>
            填写地址后2个工作日内，发放代币。</div>
        <div class="panel-body form form-horizontal ">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="address-of-receive-ubc">收币地址：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address-of-receive-ubc" ng-model="subscribedModel.ubc.address" ng-disabled="!(!subscribedModel.ubc.status || subscribedModel.ubc.status == 'waiting' || subscribedModel.ubc.status == 'sent')">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-4">
                    <button class="ico-btn btn-info btn-block " ng-click="saveUBCAddress()" ng-if="!subscribedModel.ubc.status || subscribedModel.ubc.status == 'waiting'"> 保存 </button>
                </div>
                <div class="col-sm-2">
                    <button class="ico-btn btn-success btn-block " data-target="#confirmAddress" data-toggle="modal" ng-if="!subscribedModel.ubc.status || subscribedModel.ubc.status == 'waiting'"> 确认 </button>
                </div>
            </div>
            <div class="alert alert-success text-center" role="alert" ng-if="subscribedModel.display.saved">
                保存成功
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="subscribedModel.ubc.loaded && subscribedModel.ubc.status=='sent'">
        <div class="panel-heading">收币确认</div>
        <div class="panel-body form form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="address-of-receive-ubc">已经发币：</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address-of-receive-ubc" value="{{subscribedModel.ubc.amount/10000}}" ng-disabled="true">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12 text-center">
                    如果地址无误。在收到1/10000额度的UBC后，请再次确认。我们会在一个工作日内剩余的UBC。
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-4">
                    <button class="ico-btn btn-info btn-block" ng-click="resetAddress()">重新确认地址</button>
                </div>
                <div class="col-sm-2">
                    <button class="ico-btn btn-success btn-block" ng-disabled="subscribedModel.ubc.address != subscribedModel.ubc.oldAddress" ng-click="noProblem()">地址无误，都给我吧</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="confirmAddress" aria-labelledby="confirmAddressModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">提示信息</h4>
            </div>
            <div class="modal-body">
                地址
                <li>{{subscribedModel.ubc.address}}</li>
                <li>选择“我很确认”，将一次性将UBC付给此地址。</li>
                <li>选择“我要试一下”，将会向此地址付币，额度的1/10000。确认收到后，再将剩余的UBC付到此地址。</li>
                <div class="form form-horizontal">
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="ico-btn btn-primary" for="sendtype_option1" ng-click="subscribedModel.ubc.sendType = 'all'">
                                <input type="radio" ng-model="subscribedModel.ubc.sendType" name="options" id="sendtype_option1" autocomplete="off" value="all"> 我很确认，都给我吧
                            </label>
                            <label class="ico-btn btn-primary" for="sendtype_option2" ng-click="subscribedModel.ubc.sendType = 'try'">
                                <input type="radio" ng-model="subscribedModel.ubc.sendType" name="options" id="sendtype_option2" autocomplete="off" value="try"> 我要试一下
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="ico-btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="ico-btn btn-primary" data-dismiss="modal" ng-click="confirmUBCAddress()" >确认</button>
            </div>
        </div>
    </div>
</div>
