<div class="container">
    <div class="progress" ng-show="subscribeModel.loading">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" ng-class="subscribeModel.loading ? 'active' : ''">
            <span class="sr-only">45% Complete</span>
        </div>
    </div>
    <form class="form-horizontal">
        <h1>认购调整</h1>
        <hr>
        <div class="form-group">
            <label for="subscribe_banktype" class="col-sm-3 control-label">付币种类</label>
            <label class="col-sm-3 control-label">{{subscribeModel.data.bankType}}</label>
        </div>
        <div class="form-group">
            <label for="subscribe_bankaccount" class="col-sm-3 control-label">付币地址</label>
            <label class="col-sm-6">{{subscribeModel.data.bankAccount}}</label>
        </div>
        <div class="form-group">
            <label for="subscribe_bankamount" class="col-sm-3 control-label">付币数量</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="subscribe_bankamount" placeholder="信息填写后不可修改" ng-model="subscribeModel.subscribeAmount">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-2">
                <button type="submit" class="btn btn-default btn-block" ng-disabled="!subscribeInfoIsValid()" ng-click="confirmSubscribe()">确认</button>
                <button type="submit" class="btn btn-default btn-block" ng-disabled="!subscribeInfoIsValid()" ng-if="showAbandon">废除</button>
            </div>
        </div>
    </form>
</div>
