<div class="container">
    <div class="progress" ng-show="subscribeModel.loading">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" ng-class="subscribeModel.loading ? 'active' : ''">
            <span class="sr-only">45% Complete</span>
        </div>
    </div>
    <form class="form-horizontal">
        <h1>认购登记<span style="font-size:14px;">（可在此处登记付币记录。如果明确付币地址，也可在此预先登记）</span></h1>
        <hr>
        <div class="form-group">
            <label for="subscribe_banktype" class="col-sm-3 control-label">付币种类</label>
            <div class="col-sm-6">
                <div class="btn-group" >
                    <label class="ico-btn btn-primary active">
                        <input type="radio" name="banktype_btc"  autocomplete="off" checked id="banktype_btc" ng-model="subscribeModel.form.bankType" ng-value="subscribeModel.data.btc">比特币</input>
                    </label>
                    <label class="ico-btn btn-primary">
                        <input type="radio" name="banktype_eth"  autocomplete="off" id="banktype_eth" ng-model="subscribeModel.form.bankType" ng-value="subscribeModel.data.eth">以太币</input>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="subscribe_bankaccount" class="col-sm-3 control-label">付币地址</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="subscribe_bankaccount" placeholder="信息填写后不可修改。可以重新申报，覆盖历史申报。" ng-model="subscribeModel.form.bankAccount">
            </div>
        </div>
        <div class="form-group">
            <label for="subscribe_bankamount" class="col-sm-3 control-label">付币数量</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="subscribe_bankamount" placeholder="信息填写后不可修改。可以重新申报，覆盖历史申报。" ng-model="subscribeModel.form.bankAmount">
            </div>
        </div>
        <div class="form-group">
            <div class="panel panel-default col-sm-offset-3 col-sm-6" ng-if="true" >
                <div class="row panel-heading">
                    {{ subscribeModel.form.bankType }} 充值
                </div>
                <ul class="row list-group">
                    <li class="list-group-item">请充值 {{ subscribeModel.form.bankType }} 到以下地址 </li>
                    <li class="list-group-item"><span id="bankAccountInput" >{{getBankAccount()}}</span></li>
                    <li class="list-group-item" ng-click="copyAddress()">复制地址</li>  
                    <li class="list-group-item" ng-click="subscribeModel.data.showQrCode = !subscribeModel.data.showQrCode" >显示二维码  <div style="padding:8px; border:2px solid black; display:inline-block;" ng-if="subscribeModel.data.showQrCode" > <qrcode data="{{ getBankAccount() }}" size="200"> </qrcode> </div>
                    </li>  
                    <!-- <li class="list-group-item"><a target="blank" ng-href="{{getBankCheckLink()}}">查看区块链浏览器 </a></li>  -->
                </ul>
                <!--<div class="row panel-footer">
                    {{ subscribeModel.form.bankType }} {{getMinBlockConfirm()}} 个区块确认（大约 {{ getMinTimeDelay()}}), 认购确认需要（1-3天)
                    </div>  -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="text" class="form-control" id="subscribe_bankamount" placeholder="优币收币地址，为防差错，暂不填写，等待官方通知。" ng-disabled="true">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-2">
                <button type="submit" class="ico-btn btn-default btn-block" ng-disabled="!subscribeInfoIsValid()" ng-click="confirmSubscribe()">确认</button>
            </div>
        </div>
    </form>
    <div class="alert alert-info" role="alert" ng-show="subscribeModel.data.error.code && !subscribeModel.loading">{{subscribeModel.data.error.message}}</div>
</div>
